/* tags default styles */
body {
    background-color: #edd263;
}
img {
    width: 100%;
    border-radius: 20px;
}
/* end tags default styles */

/* header */
header{
    height: 70px;
}
/* navbar */
#navbar{
    margin: 0px 120px;
}
#navbar a{
    text-decoration: none;
    color: black;
    font-size: 1.2em;
    font-weight: 700px;
}
.brand a{
    padding: 25px 25px;
    float: left;
}
ul{
    list-style-type: none;
    margin-left: 800px;
}
li{
    float: left;
    padding: 25px 25px;
}
/* end header */

/* main content */
/* search section */
#search{
    height: 100px;
}
.search-box{
    margin: 50px 505px;
}
input {
    width: 400px;
    height: 40px;
    background-color: white;
    border: none;
    border-radius: 5px;
    margin: 0;
}
#search button {
    height: 40px;
    width: 100px;
    float: right;
    padding: 6px 10px;
    border-radius: 5px;
    font-size: 17px;
    border: none;
    cursor: pointer;
    background-color: orange;
    margin: 0;
}
#search button:hover {
    background: red;
}
/* end search section */

/* food-items section */
#meal-list {
    display: flex;
    flex-wrap: wrap;
}
.image-with-title {
    background-color: white;
    text-align: center;
    padding-bottom: 20px;
    margin: 10px auto;
    border-radius: 20px;
    width: 25%;
}
.card {
    width: 600px;
    border-radius: 20px;
    margin: 0px 300px;
}
/* alert */
#alert {
    margin: 50px 650px;
    color: red;
    font-size: 1.2em;
    font-weight: 600;
}
/* end food-items section */
/* end main content */

/* footer */
#footer {
    margin: 50px 570px;
    font-weight: 600;
}
/* end footer */
