*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: auto;
    background-color: #edd263;
    font-family: Arial, Helvetica, sans-serif;
}
img {
    width: 100%;
}

/* header */
/* navbar */
#navbar{
    margin: auto 120px;
    display: flex;
    justify-content: space-between;
    padding: 25px;
}
#navbar a{
    text-decoration: none;
    color: black;
    font-size: 1.2em;
    font-weight: 700px;
}
.brand{
    padding: 10px 25px;
}
.brand a{
    font-size: 32px;
}
#navbar ul{
    list-style-type: none;
    display: flex;
    height: 50px;
    margin: auto 20px;
    padding: 5px;
}
li{
    padding: 5px 25px;
}
/* end header */

/* main content */
main{
    margin: auto 8%;
}
/* search section */
#search{
    height: 100px;
}
.search-box{
    padding: 25px 25px;
}
form{
    display: flex;
    justify-content: center;
}
input {
    width: 50%;
    height: 40px;
    background-color: white;
    border: none;
    border-radius: 5px;
    padding-left: 5px;
}
#search button {
    height: 40px;
    width: 100px;
    float: right;
    padding: 6px 10px;
    border-radius: 5px;
    font-size: 17px;
    border: none;
    cursor: pointer;
    background-color: orange;
    margin: 0;
}
#search button:hover {
    transition: 0.5s;
    background: red;
}
/* end search section */

/* food-items section */
#food-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5px;
}
.meal-item {
    background-color: white;
    text-align: center;
    margin: 10px;
    border-radius: 10px;
    width: 23%;
    overflow: hidden;
    cursor: pointer;
}
#food-items h2{
    padding: 10px;
}
/* end food-items section */

/* recipe section */
#recipe{
    padding: 25px;
}
.ingredients {
    width: 50%;
    background-color: azure;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}
.content{
    padding: 20px;
}
#recipe h1{
    font-size: 40px;
    padding-bottom: 25px;
}
#recipe h3{
    font-weight: 550;
}
#recipe ul{
    padding: 20px;
    list-style-type: square;
}
/* end recipe section */

/* alert */
#alert {
    display: none;
    text-align: center;
    padding: 25px 25px;
    color: red;
    font-size: 1.2em;
    font-weight: 600;
}
/* end alert */
/* end main content */

/* footer */
#footer {
    text-align: center;
    padding: 15px;
    font-weight: 500;
}
/* end footer */
